:root {
  --dark-navy: #040707;
  --light-navy: #16171a;
  --blue-button: #3f96d1;
  --blue-font: #1a67a0;
}

.app {
  width: 82vw;
  margin: auto;
  display: flex;
}

.background-container {
  background-color: var(--dark-navy);
}
